/* style sheet */

/* Review URL Later */
body{
	background-image: url("photo.png");
	background-size: cover;
}
/* Chrome Extension lead tracker */
body{
	font-family: Arial, Helvetica, sans-serif;
	min-width: 400px;
	
}
#container-extension{
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.10);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15.0px);
	-webkit-backdrop-filter: blur(15.0px);
	border: 1px solid rgba(255, 255, 255, 0.20);	
}
#input-el{
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	border: 1px solid #5f9335;
	margin-bottom: 4px;
	border-radius: 5px 5px 0px 0px;
	color:#5f9335;
	font-weight: bold;
}
#message-el{
	padding: 5px 10px;
	margin: 3px 5px;
	color: white;
	font-weight: bold;
}
.btn-color{
	background: #5f9335;
	color: white;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid white;
	transition: all 0.5s;
}
.btn-color:hover{
	background: white;
	color: #5f9335;
	border: 1px solid #5f9335;
}
.btn-color-white{
	background: white;
	color: #5f9335;
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #5f9335;
	transition: all 0.5s;
}
.btn-color-white:hover{
	background: #5f9335;
	color: white;
	border: 1px solid white;
}

#btn-yes,
#btn-no{
	background: #5f9335;
	color: white;
	padding: 3px 10px;
	font-weight: bold;
	border-radius: 3px;
	margin: 0px 5px;
	display: none;
}
#btn-yes:hover,
#btn-no:hover{
	background: white;
	color: #5f9335;
	border: 1px solid #5f9335;
}

#btn-clipboard{
	position: relative;
}

.el-size{
	font-size: 8px;
	position: absolute;
	left: 8px;
	top: 24px;
}

#container-options{
	padding: 4px 0;
}

/* list css */
ol{
	margin-top: 10px;
	list-style: none;
	counter-reset: li;
	padding-left: 28px;
}
li{
	margin-top: 5px;
	counter-increment: li;
	border-bottom: 2px solid #5f9335;
	padding: 0px 0px 8px 0px;
	width: 370px;
	height: 26px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
li:hover{
	overflow: visible;
}
li a{
	box-sizing: border-box;
	color: white;
	padding-left: 5px;
	word-wrap: break-word;
	max-width: 295px;
}
.container-li-btn{
	display: flex;
	flex-direction: row;
}
/* up and down buttons */
.container-btn-up-down{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn-up-down{
	display: flex;
	align-items: center;
	padding: 0 6px;
	height: 65%;
	width: 30px;
	font-size: 1.1rem;
}
.btn-up-down p{
	font-size: 1.1rem;
}
/* remove button */
.remove-btn{
	background: white;
	color: #5f9335;
	padding: 2px 6px 2px 6px;
	margin-right: 5px;
	margin-top: 6px;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #5f9335;
	width: 70px;
}

li a:hover{
	color: white;
	z-index: 1000;
	height: fit-content;
	border-radius: 5px;
	background: rgba(95, 147, 53, 0.50);
	backdrop-filter: blur(15.0px);
	-webkit-backdrop-filter: blur(15.0px);
}
li::before {
	content: counter(li);
	color: white;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	background: #5f9335;
	border-radius:50%;
	text-align:center;
	position: absolute;
}
.hidden{
	display: none;
}
